In [1]:
import pandas as pd

In [2]:
#Loadig data
df = pd.read_csv("mode.csv")

In [10]:
#printing top 5 rows
df.head(50)

      Student  Overall Marks  Gender    Subject
0       Anish             97    Male    English
1     Rishabh             83    Male    English
2        Ajay             78    Male    Physics
3     Abhinav             86    Male  Chemistry
4      Anurag             91    Male    English
5       Ajeet             15    Male    Physics
6       Varun             83    Male  Chemistry
7      Rajeev             64    Male  Chemistry
8      sanjay             66    Male  Chemistry
9       NISHA             58  Female    Physics
10     SURESH             62    Male    Physics
11     Aniket             62    Male    English
12       manu             20    Male    Physics
13       ALOK             85    Male    English
14     Pranav             49    Male  Chemistry
15       Deep             92    Male    English
16   Prashant             21    Male    Physics
17      Kunal             15    Male    Physics
18      Soham             46    Male  Chemistry
19      mayur            100    Male  Chemistry
20      shaan             18    Male  Chemistry
21   shivangi             70  Female    Physics
22        Sam             82  Female    English
23      Dhruv             88    Male    English
24     tushar             88    Male    English
25     Neelam            100  Female  Chemistry
26       yash             86    Male    Physics
27      Nitin             60    Male    English
28       Arun             88    Male  Chemistry
29      Sumit             19    Male    Physics
30     manish             81    Male    English
31      SHAIL             74    Male  Chemistry
32      Parth             94    Male    Physics
33      kumar             72    Male    Physics
34      shyam             77    Male  Chemistry
35      vikas             75    Male  Chemistry
36      Manoj             70    Male    English
37  Siddharth             18    Male  Chemistry
38     Mayank             51    Male    Physics
39      swati             81  Female    Physics
40    anamika             23  Female    English
41      pawan             77    Male    Physics
42   krithika              5  Female    Physics
43     Deepak            100    Male  Chemistry
44      Jatin             85    Male  Chemistry
45    PRATEEK             80    Male  Chemistry
46     Deepro             84    Male    Physics
47       atul             63    Male    English
48     Neeraj             67    Male    English
49      SUNNY             81    Male    English

In [8]:
#calculating mode of gender column
data_mode = df["Subject"].mode()

In [9]:
print(data_mode)
#mode ka mtlb jo value frequently kai bar aye wo mode ho jata h

0    Chemistry
Name: Subject, dtype: object

In [ ]:
#most calculated for categorical variable